@use '../abstracts' as *;
@use '../utilities' as *;

body {
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-900);
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: clamp(1rem, 0.55rem + 2vw, 1.15rem);//1.3125rem;
    line-height: 1.6;
    min-height: 100vh;
    position: relative;
}

h1,
h2 {
    line-height: 1;
    font-family: var(--ff-accent);
    font-weight: 900;
}

a:focus {
    outline: 0.1em solid currentColor;
    outline-offset: 0.2em;
}
