$clr-box-shadow: rgba(#222C2A, 0.2);

:root{
    --clr-white: #F3EED9;
    --clr-black: #222C2A;
    --clr-primary-200: #CD8D6B;
    --clr-primary-400: #BD623A;   
    
    --ff-primary: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
    --ff-accent: 'Lobster', cursive; //'Times New Roman', Times, serif;
}

/* -------------------------------------------------------------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

/* -------------------------------------------------------------------------- */
/* Global */
body {
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-family: var(--ff-primary);
    font-size: 1.3125rem;
    font-weight: 400;
    display: grid;
    place-items: center;
    height: 100vh;
}

p {
    font-size: clamp(1em, -0.15em + 5.7vw, 2em);
}

/* -------------------------------------------------------------------------- */
/* Glitch */
.glitch {
    user-select: none;
    font-size: clamp(2.5em, -0.65em + 15.7vw, 8em);
    position: relative;
    text-shadow: 
        0.025em 0 0 rgba(255, 0, 0, 0.75),
        -0.0125em -0.025em 0 rgba(0, 255, 0, 0.75), 
        0.0125em 0.025em 0 rgba(0, 0, 255, 0.75);

    animation: glitchAnimation 500ms infinite;

    span {
        position: absolute;
        top: 0;
        right: 0;

        &:first-child{
            animation: glitchAnimation 650ms infinite;
            z-index: -1;
            clip-path: polygon(0 0, 100% 0, 100% 40%, 0 60%);
            transform: translate(-0.0125em, -0.0125em);
        }
        &:last-child{
            animation: glitchAnimation 375ms infinite;
            z-index: -1;
            clip-path: polygon(0 75%, 100% 40%, 100% 100%, 0 100%);
            transform: translate(0.0125em, 0.0125em);
        }
    }
}

@keyframes glitchAnimation {
    0%, 14% {
        text-shadow: 
            0.025em 0 0 rgba(255, 0, 0, 0.75),
            -0.0125em -0.025em 0 rgba(0, 255, 0, 0.75), 
            0.0125em 0.025em 0 rgba(0, 0, 255, 0.75);
    }
    15%, 49% {
        text-shadow: 
            -0.025em -0.0125em 0 rgba(255, 0, 0, 0.75),
            0.0125em 0.0125em 0 rgba(0, 255, 0, 0.75), 
            -0.025em -0.025em 0 rgba(0, 0, 255, 0.75);
    }
    50%, 99% {
        text-shadow: 
            0.0125em 0.025em 0 rgba(255, 0, 0, 0.75),
            0.025em 0 0 rgba(0, 255, 0, 0.75), 
            0 -0.025em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
        text-shadow: 
            -0.0125em 0 0 rgba(255, 0, 0, 0.75),
            -0.0125em -0.0125em 0 rgba(0, 255, 0, 0.75), 
            -0.0125em -0.025em 0 rgba(0, 0, 255, 0.75);
    }
}