$clr-box-shadow: rgba(#222C2A, 0.2);

:root{
    --clr-white: #F3EED9;
    --clr-black: #222C2A;
    --clr-primary-200: #CD8D6B;
    --clr-primary-400: #BD623A;   
    
    --ff-primary: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
    --ff-accent: 'Lobster', cursive; //'Times New Roman', Times, serif;

    --bg-gradient: linear-gradient(
        45deg, 
        var(--clr-white),
        var(--clr-primary-200),
        var(--clr-primary-400));
}

/* -------------------------------------------------------------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

/* -------------------------------------------------------------------------- */
/* Global */
body {
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: clamp(1rem, 0.55rem + 2vw, 1.3125rem);//1.3125rem;
    line-height: 1.6;
    display: grid;
    place-content: center;
}

.content-box {
    background-color: var(--clr-white);
    max-width: 100rem;

    box-shadow:0 0 1rem 1rem $clr-box-shadow;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h1,
h2 {
    line-height: 1;
    font-family: var(--ff-accent);
    font-weight: 900;
}


a:focus {
    outline: 0.1em solid currentColor;
    outline-offset: 0.2em;
}

/* -------------------------------------------------------------------------- */
/* Header */
header {
    flex: 1 1 30%;

    text-align: center;
    background-image: var(--bg-gradient);
    background-size: 300%;
    background-position: right;
    min-width: 18rem;

    .header-container {
        position: sticky;
        top: 0;
        min-height: 100vh;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .header {
            padding-block-start: clamp(1em, 5vw, 4em);
            padding-inline: 1em;

            // > h1 {
            //     background-image: var(--bg-gradient);
            //     background-clip: text;
            //     background-position: left;
            //     color: transparent;
            // }

            .avatar img {
                border-radius: 100%;
                width: 65%;
                max-width: 24ch;
            }
            p {
                padding-top: 1em;
                font-size: 1.2em;
            }
        }

        .footer {
            margin-top: auto;

            a:hover,
            a:focus {
                color: inherit  ;
            }
        }
    }

}

/* -------------------------------------------------------------------------- */
/* Main */
.main {
    flex: 1 1 70%;
    
    > section {
        padding-top: 1.5rem;
        border-bottom: 0.1rem solid var(--clr-black);
    }
}


.main-container {
    padding-inline: 0.5em;

    > div,
    > a > div {
        padding-inline: 0.5rem;
        margin-bottom: 1rem;
        box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem $clr-box-shadow;
        animation: box-shadow 400ms ease;

        &:hover,
        &:focus {
            box-shadow: 0.2rem 0.2rem 0.4rem 0.2rem $clr-box-shadow;
        }
    }

    > a {
        text-decoration: none;
        color: inherit;

        &:hover,
        &:focus {
            > div {
                box-shadow: 0.2rem 0.2rem 0.4rem 0.2rem $clr-box-shadow;
            }
        }
        &:focus {
            outline: 0;
            > div {
                outline: 0.2rem solid var(--clr-primary-400);
            }
        }
    }
    
    h2 {
        margin-bottom: 1rem;
    }

    ul {
        margin: 0;
        margin-bottom: 1em;
        list-style: "";

        li::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\25cf";
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            margin-right: 0.5em;
        }
    }

    /* Place & Time container */
    .place-time {
        display: flex;
        flex-wrap: wrap;

        .place {
            flex: 1 1 70%;
            text-align: left;
        }

        .time {
            flex: 1 1 30%;
            text-align: right;
            min-width: 10ch;
        }
    }
    
    /* Language container */
    .language {
        display: flex;
        flex-wrap: wrap;
        text-align: left;

        .name {
            flex: 1 1 25%;
        }
        .cefr {
            flex: 1 1 25%;
        }
        .level {
            flex: 1 1 50%;
        }
    }
}

/* -------------------------------------------------------------------------- */
/* Footer */
footer {
    text-align: center;
    background-color: var(--clr-black);
    color: var(--clr-white);
    min-width: 100%;
    display: none;
    padding-block-start: 0.5em;
}

.icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;

    &.download::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f019";
    }

    &.envelope::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\2709";
    }

    &.github::before {
        font-family: "Font Awesome 5 Brands";
        font-weight: 400;
        content: "\f09b";
    }

    &.orcid::before {
        font-family: "Font Awesome 5 Brands";
        font-weight: 400;
        content: "\f8d2";
    }

    &.researchgate::before {
        font-family: "Font Awesome 5 Brands";
        font-weight: 400;
        content: "\f4f8";
    }

    &.linkedin::before {
        font-family: "Font Awesome 5 Brands";
        font-weight: 400;
        content: "\f08c";
    }
}

.icons {
    * {
        margin-inline: 0.25em;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    
    a:hover,
    a:focus {
        color: var(--clr-primary-200);
    }
}

/* -------------------------------------------------------------------------- */
/* Large Screen - Media Query */
@media only screen and (max-width: 60rem) {
    header {
        .header-container {
            min-height: 0;


            .footer {
                display: none;
            }
        }
    }
    footer {
        display: block;
    }
}