@use './abstracts' as *;
@use './utilities' as *;

@use './base';

@use './components';

@use './layouts';


:root{
    @each $color, $shades in $colors {
        @each $shade, $val in $shades {
            --clr-#{$color}-#{$shade}: #{$val};            
        }
    }

    --ff-primary: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
    --ff-accent: 'Lobster', cursive; //'Times New Roman', Times, serif;
    
    --clr-box-shadow: $clr-box-shadow;
    --bg-gradient: linear-gradient(
        var(--clr-primary-400),
        var(--clr-primary-200));
}


// @media (prefers-color-scheme: dark) {
//     :root{
//         --clr-primary-100: hsl(#{$clr-primary-hue}, #{$clr-primary-sat}, 12%);
//         --clr-primary-900: hsl(#{$clr-primary-hue}, #{$clr-primary-sat}, 90%);
    
//         --clr-primary-200: hsl(#{$clr-primary-hue}, #{$clr-primary-sat}, 30%);
//         --clr-primary-400: hsl(#{$clr-primary-hue}, #{$clr-primary-sat}, 20%);
//     }
// }
