@use '../abstracts' as *;
@use '../utilities' as *;

header {
    grid-area: header;
    padding-inline: 1em;  
    text-align: center;

    background-image: var(--bg-primary-gradient);
    background-size: auto 300%;
    background-position: top right;

    .header-container {
        position: sticky;
        align-self: start;
        top: 0;
    
        padding-block-start: 1em;
        padding-block: clamp(1em, 5vw, 4em);
        padding-inline: 1em;

        .name {
            margin: 0.5em;
        }
        
        .avatar {
            border-radius: 100%;
            width: 65%;
            max-width: 24ch;
        }

        .tagline {
            padding-top: 1em;
            font-size: 1.2em;
        }
    }
}