::-webkit-scrollbar {
    width: 1.25rem;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-primary-400);
    border: 0.25em solid var(--clr-primary-100);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--clr-primary-500);
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: var(--clr-primary-400) var(--clr-primary-100);
    }
}