@use '../utilities' as *;

/* -------------------------------------------------------------------------- */
/* Home Page */
.home {    
    display: grid;
    grid-template: 
        ". header main ." 1fr
        ". footer main ." min-content
        / 1fr minmax(18rem, 30rem) minmax(42rem, 70rem) 1fr;
    gap: 0;

    @include mq(small) {
        grid-template: 
            "header" min-content
            "main" 1fr
            "footer" min-content
            / 1fr;
    }
}
