@use '../utilities' as *;

/* -------------------------------------------------------------------------- */
/* Home Page */
.home {    
    display: grid;
    grid-template: 
        ". header main ." 1fr
        ". footer main ." min-content
        / 1fr minmax(18rem, 30rem) minmax(42rem, 70rem) 1fr;
    gap: 0;

    @include mq(small) {
        grid-template: 
            "header" min-content
            "main" 1fr
            "footer" min-content
            / 1fr;
    }
}

/* -------------------------------------------------------------------------- */
/* Main */
.main {
    grid-area: main;
    padding-inline: 0.5em;

    h2 {
        margin-bottom: 1rem;
    }

    ul {
        margin: 0;
    }

    section {
        padding-block: 0.5rem;
        border-bottom: 0.1rem solid var(--clr-primary-900);

        .card {
            padding-inline: 0.5rem;
            margin-block: 1rem;
            box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem var(--clr-box-shadow);
            animation: box-shadow 400ms ease;
    
            &:hover,
            &:focus {
                box-shadow: 0.2rem 0.2rem 0.4rem 0.2rem var(--clr-box-shadow);
            }
        }
        
        a {
            text-decoration: none;
            color: inherit;
    
            &:focus {
                outline: 0;
                > div {
                    outline: 0.2rem solid var(--clr-primary-400);
                }
            }
        }
    }

    /* Place & Time container */
    .place-time {
        display: flex;
        flex-wrap: wrap;

        .place {
            flex: 1 1 70%;
            text-align: left;
        }

        .time {
            flex: 1 1 30%;
            text-align: right;
            min-width: 10em;
        }
    }
    
    /* Language container */
    .language {
        display: flex;
        flex-wrap: wrap;
        text-align: left;

        .name {
            flex: 1 1 25%;
        }
        .cefr {
            flex: 1 1 25%;
        }
        .level {
            flex: 1 1 50%;
        }
    }

}

