
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{name}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="https://kit.fontawesome.com/afc420ea5c.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
				<h1>I am <strong>{{name}}</strong>, an engineer,<br>
					{{intro}}</h1>
			</div>
		</header>

		<!-- Main -->
		<div id="main">

			<!-- Education -->
			<section id="education">
				<h2>Education</h2>
				{{#education}}
				<header>
					<h4>{{title}}</h4>
					<p>
						<strong>{{institute}}</strong><br>
						{{start_date}} -
						{{#end_date}} {{end_date}} {{/end_date}}
						{{^end_date}} Present {{/end_date}}
					</p>
				</header>
				{{#details}} <p>{{& details}}</p> {{/details}}
				<hr/>
				{{/education}}
			</section>

			<!-- Experience -->
			<section id="experience">
				<h2>Experience</h2>
				
				{{#experience}}
				<header>
					<h4>{{post}}</h4>
					<p>
						<strong>{{company}}</strong><br>
						{{start_date}} - 
						{{#end_date}} {{end_date}} {{/end_date}}
						{{^end_date}} Present {{/end_date}}
					</p>
				</header>
				{{#details}} <p>{{& details}}</p> {{/details}}
				<hr/>
				{{/experience}}
			</section>

			<!-- Publications -->
			<section id="publications">
				<h2>Publications</h2>

				{{#publications_conf}}
				<a href="{{& url}}">
					<header>
						<h4>{{title}}</h4>
						<p>
							<strong>{{& conference}}</strong><br>
							{{date}} | {{location}} <br>
							{{#doi}} <strong>DOI:</strong> {{doi}} {{/doi}}
						</p>
					</header>
				</a>
				<hr/>
				{{/publications_conf}}
			</section>

			<!-- Patents -->
			<section id="patents">
				<h2>Patents</h2>

				{{#patents}}
				<a href="{{& url}}">
					<header>
						<h4>{{title}}</h4>
						<p>
							<strong>{{number}}</strong>
								in <strong>{{country}}</strong>
								dated <strong>{{date}}</strong><br>
							{{#inventors}}
								- {{name}}, {{company}} <br>
							{{/inventors}}
						</p>
					</header>
				</a>
				<hr/>
				{{/patents}}
			</section>

			<!-- Other Academic Experience -->
			<section id="other_academic_experience">
				<h2>Other Academic Experience</h2>
				{{#other_academic_experience}}
				<h4>{{title}}</h4>
				<p>{{& details}}</p>
				<hr/>
				{{/other_academic_experience}}
			</section>

			<!-- Achievements -->
			<section id="achievements">
				<h2>Achievements</h2>
				{{#achievements}}
				<h4>{{title}}</h4>
				<p>{{& details}}</p>
				<hr/>
				{{/achievements}}				
			</section>

			<!-- Languages -->
			<section id="languages">
				<h2>Languages</h2>
				{{#languages}}
				<div class="row">
					<div class="col-6 col-12-small">{{name}}</div>
					<div class="col-6 col-12-small">{{level}}</div>
				</div>
				<hr/>
				{{/languages}}
			</section>

		</div>
	
		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li><a href="documents/resume.pdf" class="icon solid fa-download"><span class="label">Resume</span></a></li>
					<li><a href="https://www.linkedin.com/in/guptavaibhav0/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
					<li><a href="https://www.researchgate.net/profile/Vaibhav_Gupta29" class="icon brands fa-researchgate"><span class="label">ResearchGate</span></a></li>
					<li><a href="https://orcid.org/0000-0003-4159-6261" class="icon brands fa-orcid"><span class="label">Orcid</span></a></li>
					<li><a href="mailto:vaibhav.gupta@epfl.ch" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Vaibhav Gupta</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>